omegaconf==2.0.2
hydra-core==1.0.3           #TODO: update
hydra-colorlog==1.0.0
pytorch-lightning==1.5.1    
kornia==0.4.1               #TODO: update
visdom
hiplot==0.1.20
opencv-python
albumentations
matplotlib==3.3.4
toolz
tablib
json2html
pysm==0.3.9
colour
parsedatetime==2.6
deepdiff==4.0.9
pandas
rich