omegaconf==2.0.2            #TODO: update
hydra-core==1.0.3           #TODO: update
hydra-colorlog==1.0.0
pytorch-lightning==1.5.1    #TODO: update
kornia==0.6.3
visdom==0.1.8.9
hiplot==0.1.20              #TODO: update
opencv-python
albumentations==1.1.0             
matplotlib==3.3.4
toolz
tablib
json2html
pysm==0.3.9
colour
parsedatetime==2.6
deepdiff==4.0.9
rich
pandas
roma
trimesh
